<h1>タスク詳細ページ</h1>

<table class="table table-bordered">
  <tr>
    <th>id</th>
    <td><%= @micropost.id %></td>
  </tr>
  <tr>
    <th>ステータス</th>
    <td><%= @micropost.status %></td>
  </tr>
  <tr>
    <th>メッセージ</th>
    <td><%= @micropost.content %></td>
  </tr>
</table>

<%= link_to 'edit', edit_micropost_path(@micropost), class: 'btn btn-default' %>